@font-face {
    font-family: 'DM Sans';
    src: url('../fonts/DMSans-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 300 600;
    font-style: normal;
    font-display: swap;
  }
  
@font-face {
  font-family: 'DM Sans Italic';
  src: url('../fonts/DMSans-Italic-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 300 600;
  font-style: normal;
  font-display: swap;
}
  
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(1.25rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }

}
:root {
  --color-accent: #129cff;
  --color-overlay-dark: #6b6b6b;
   --color-overlay-light: #c3c3c3;
  --color-light: #fcfcfc;
  --color-dark: #080808;
    
  
  --background-color: var(--color-light);
  --foreground-color: var(--color-dark);
  
  --duration-short: 0.3s;
  --duration-medium: 0.5s;
  --duration-long: 1s;

  --font-sans: 'DM Sans', Arial, sans-serif;
  
  --rhythm: 1.5rem;
}
  
* {
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: var(--foreground-color);
  font-family: var(--font-sans);
  font-size: 100%;
  font-weight: 400;
  margin: 0;
}

/* Text Styles */
h1, h2, h3 {
  font-family: var(--font-sans);
  text-wrap: pretty;
}

h1, h3 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2rem;
}

.case-study > h1 {
  margin-top: 2rem;
}
h1.hero {
  font-size: 2.25rem;
  letter-spacing: 0.0125rem;
  line-height: 2.5rem;
  margin: 0;
  text-align: left;
  max-width: 350px;
}

h2 {
  color: var(--color-accent);
  font-size: 0.875rem;
  font-weight: 650;
  letter-spacing: 0.05rem;
  margin-top: -1rem;
}

section h2 {
  margin-top: var(--rhythm);
}

a.button > button > h2 {
  color: var(--background-color);
  margin: 0;
}

.img-container h2 {
  text-align: left;
}

p {
  font-size: 1rem;
}

p.top { /* Brand name */
  font-weight: 600;
}

p.bottom { /* Location */
  font-size: 1rem;
  font-weight:200;
  letter-spacing: 0.02rem;
}


p.sub {
  color: var(--color-overlay-dark);
  font-size: 0.875rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
}

.section-heading, .subheadings {
  display: flex;
  flex-direction: column;
  gap: calc(0.1*var(--rhythm));
  margin-bottom: 0rem;
}

.subheadings {
  gap: calc(0.1*var(--rhythm));
}

.details-resume p {
  background-color: var(--color-overlay-dark);
  padding: calc(var(--rhythm)/3);
  border-radius: 5px;
  margin-right: calc(var(--rhythm)/2);
  margin-bottom: 0;
  text-wrap: nowrap;
}

.details {
  p {
    background-color: var(--color-overlay-dark);
    padding: calc(var(--rhythm)/3);
    border-radius: 5px;
    margin-right: calc(var(--rhythm)/2);
    margin-bottom: 0;
    text-wrap: nowrap;
  }

  p.highlighted { /* For details section */
    background-color: var(--color-accent);
    color: var(--background-color);
  }
}

.text-container p {
  margin-top: -1rem;
}

a.contact p, a.contact-nav p {
  color: var(--background-color);
}

.page-heading h1 {
  font-size: 3rem;
  line-height: 3rem;
  text-wrap: pretty;
}
/* End Text Styles */

/* Nav bar and menu styles*/
header {
  align-items: center;
  display: flex;
  background: var(--foreground-color);
  box-shadow: 0px 10px 20px #00000047;
  color: var(--background-color);
  height: auto;
  padding: var(--rhythm);
  width: 100%;
  z-index: 1001;

  position: fixed;
  left: 0;
  top: 0;
}

.logo {
  padding-right: 0.5rem;
}

svg.white {
  fill: var(--background-color);
}

.brand {
  line-height: 0.4rem;
}

.brand-container {
  display: flex;
  align-items: center;
  z-index: 1002;
}

label {
  cursor: pointer;
  height: 25px;
  position: absolute;
  right: var(--rhythm);
  width: 36px;
  z-index: 1002;
}

label span {
  background-color: var(--background-color);
  border-radius: 2px;
  display: block;
  height: 3px;
  position: absolute;
  width: 100%;
  transform-origin: left;
  transition: 0.3s ease;
}

label span:nth-child(1) {
  top: 0;
}

label span:nth-child(2) {
  top: 10px;
}

label span:nth-child(3) {
  top: 20px;
}

nav {
  background: var(--foreground-color);
  height: 100vh;
  margin-block-start: var(--rhythm);
  padding: 0 var(--rhythm);
  width: 100%;

  position: fixed;
  right: -100%;
  top: 0;
  z-index: 1000;

  transition: right 0.3s ease;
}

ul.nav { /* Menu List */
  list-style-type: none;
  margin-block-start: 0;
  padding-inline-start: 0;
  margin-top: calc(var(--rhythm) * 5);
}

ul.nav li {
  padding: 0;
}

ul.nav li a {
  color: white;
  display: block;
  font-size: 2rem;
  font-weight: 500;
  padding-block: 1rem;
  padding-inline: 1rem;
  text-decoration: none;
}

ul li a:hover {
  background-color: var(--color-overlay-dark);
  color: var(--background-color);
}

a.contact-nav {
  align-items: center;
  display: flex;
  margin-top: -1rem;
  padding-left: 1rem;
}

/* Menu function */
.nav-toggle:checked ~ nav {
  right: 0;
}

.nav-toggle:checked ~ .nav-toggle-label span:nth-child(1) {
  left: 7px;
  transform: rotate(45deg);
}

.nav-toggle:checked ~ .nav-toggle-label span:nth-child(2) {
  opacity: 0;
}

.nav-toggle:checked ~ .nav-toggle-label span:nth-child(3) {
  left: 7px;
  top: 25px;
  transform: rotate(-45deg);
}

.brand-container {
  display: flex;
  align-items: center;
}
/* End Nav bar and menu styles */

/* Home page hero styles */
.hero-wrapper {
  background-color: var(--foreground-color);
  box-shadow: 0px 10px 20px #00000055;
  color: var(--background-color);
  height:24rem;
  display: flex;
  align-items: flex-end;
  padding: 0 var(--rhythm) calc(1.5*var(--rhythm));
  margin-bottom: var(--rhythm);
  width: 100%;
}

mark { /* Highlighted text in hero  */
    background-color: var(--color-accent);
    padding: 0 0.5rem;
  }
/* End Home page hero styles */

/* Footer styles */
footer { 
  background-color: var(--foreground-color);
  color: var(--background-color);
  margin: calc(var(--rhythm)*2.5) 0 0 0;
  padding: var(--rhythm);
}

footer.no-margin { /* For individual creative work pages  */
  background-color: var(--foreground-color);
  color: var(--background-color);
  margin: 0;
  padding: var(--rhythm);
}
/* End Footer styles */

/* Anchor Styles */
a {
  color: var(--foreground-color);
  text-decoration: none;
}

/* a:hover a:focus {

} */

a.contact {
  align-items: center;
  display: flex;
  margin-top: -1rem;
}

a.button > button {
  background-color: var(--color-accent);
  border: none;
  border-radius: 100px;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  text-align: center;
  min-width: 100%;
  margin: 1rem 2rem 0 0;
}
/* End Anchor Styles */

/* Media Styles */
img {
  width: 100%;
  height: auto;
}


img.round { 
  width: 100%;
  border-radius: 20px;
  margin-top: 0;
}

.case-study-image {
  width: 100%;
}

.header-image, .about-image {
  margin: calc(0.5*var(--rhythm)) var(--rhythm);
}

.img-container-round, img.goodreads { /* Add rounded corners and shadow to img */
  border-radius: 30px;
  box-shadow: 0px -10px 20px #00000014;
}

.img-container-large {
  display: none;
}

video {
  width: 100%;
}
/* End Media Styles */

/* Bulleted List Styles */
ul.bullet { /* For resume page */
  list-style-type: disc;
  margin-inline-start: 2rem;
  margin-inline-end: var(--rhythm);
  padding: 0;
}

li {
  padding-bottom: calc(var(--rhythm)/2);
}
/* End Bulleted List Styles */

/* Div Styles */
section {
  box-shadow: 0px 10px 20px #00000014;
  display: flex;
  flex-direction: column;
  gap: var(--rhythm);
  padding: calc(1.5*var(--rhythm));
}

section.overview, .overview { /* Targets first section on page */
  background-color: var(--foreground-color);
  box-shadow: 0px -10px 20px #00000014;
  color: var(--background-color);
  padding: calc(1.5*var(--rhythm));
}

div.overview {
  display: flex;
  flex-direction: column;
  gap: calc(1*var(--rhythm));
}

section.resume {
  background-color: var(--foreground-color);
  box-shadow: 0px -10px 20px #00000014;
  color: var(--background-color);
  padding: calc(var(--rhythm)*5) calc(1.5*var(--rhythm)) calc(1.5*var(--rhythm));
}

section.creative {
  background-color: var(--background-color);
  box-shadow: none;
  color: var(--foreground-color);
  padding: calc(var(--rhythm)*5) calc(1.5*var(--rhythm)) calc(1.5*var(--rhythm));
}

section.bottom, section.overview-about { /* Targets last section on page */
  box-shadow: none;
  color: var(--foreground-color);
  padding-bottom: 0;
}

.case-studies-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--rhythm);
  padding: calc(2*var(--rhythm));

  .case-study {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: var(--rhythm);
    justify-content: center;
  }
}

.top-content {
  margin-top: calc(7*var(--rhythm));
}

.label {
  margin-bottom: -1.2rem;
}

.details {
  display: flex;
  flex-wrap: wrap;
}

.details-resume {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: var(--rhythm);
  margin-top: -1.5rem;
}

div.inkwell-project-image{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.project-image{
  height: 100%;
  display: flex;
  align-items: center;
}

span.divider { /* Divider */
  background-color: var(--color-overlay-light);
  border-radius: 2px;
  display: block;
  height: 0.5px;
  margin: var(--rhythm) auto ;
  width: 100%;
}

footer > span.divider { /* Divider */
  background-color: var(--color-overlay-dark);
  width: 100%;
}

/* End Div Styles */

/* Media Queries */

@media screen and (min-width: 600px) {
  header {
    padding: var(--rhythm) calc(2*var(--rhythm));
  }

  footer {
    padding: calc(2*var(--rhythm));
  }

  .hero-wrapper {
      padding: calc(2*var(--rhythm));
  }

  .case-studies-wrapper {
    padding: calc(1.5*var(--rhythm)) calc(5*var(--rhythm));

    .case-study {
      flex-direction: column;
      gap: var(--rhythm);
    }
  }

  .hero-wrapper {
    height: 25rem;

    h1 {
      font-size: 300%;
      line-height: 120%;
      text-align:center;
      margin: var(--rhythm) auto;
    }
  }
}

@media screen and (min-width: 700px) {

  .video {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: calc(0.2*var(--rhythm));
  }

  .photo-container {
    display: flex;
    flex-direction: row;
    gap: calc(0.2*var(--rhythm));
  }

  .photos {
    display: flex;
    flex-direction: column;
    grid-area: calc(0.2*var(--rhythm));

    /* img.landscape-1 {
      height: 100%;
      width: auto;
    } */
  }

  .page-heading {
    margin-bottom: -3rem;
  }
  header {
    padding: var(--rhythm) calc(2*var(--rhythm));
  }

  footer {
    padding: calc(2*var(--rhythm));
  }

  .hero-wrapper {
      padding: calc(2*var(--rhythm));
  }

  .case-studies-wrapper {
    padding: calc(4*var(--rhythm));

    .case-study {
      flex-direction: row;
      gap: calc(3*var(--rhythm));

      h1 {
      font-size: 3rem;
      line-height: 3rem;
    }
      h2 {
        font-size: 1.05rem;
      }
    }
  }

  .hero-wrapper {
    height: 25rem;

    h1 {
      font-size: 350%;
      line-height: 120%;
      text-align:center;
      margin: calc(3*var(--rhythm)) auto;
      max-width: 100%;
    }
  }

  section {
    padding: calc(2*var(--rhythm)) calc(5*var(--rhythm));
  }

  section.overview, .overview { /* Targets first section on page */
    padding: calc(2*var(--rhythm)) calc(var(--rhythm)*5);
  }
  
  section.resume {
    padding: calc(var(--rhythm)*2)  calc(var(--rhythm)*5);
  }
  
  section.creative {
    padding: calc(var(--rhythm)*2)  calc(var(--rhythm)*5);
  }
  
  section.bottom { /* Targets last section on page */
    padding-bottom: 0;
  }

  .img-container {
    text-align: center;
    margin: 0;

    img {
      max-width: 60%;
      height: auto;
    }
  }

  .header-image {
    width: 70%;
    margin: auto;
  }

  .inkwell-project-image {
    width: 70%;
    margin: auto;
  }

  .img-container-goodreads {
    max-width: 60%;
    display: flex;
    align-self: center;
  }

  video.inkwell-video {
    width: 40%;
    height: auto;
  }

  .video-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .img-container-large {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .img-container-small {
    display: none;
  }

  .img-container-vert {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

}

@media screen and (min-width: 1220px) {

  video.inkwell-video {
    width: 50%;
    height: auto;
  }

  .img-container-large {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .img-container-small {
    display: none;
  }

  .inkwell-project-image {
    max-width: 100%;
    margin: unset;
  }


  .img-container, .about-image{
    text-align: center;
    margin: 0;

    img {
      max-width: 60%;
      height: auto;
    }
  }

  .img-container-goodreads {
    max-width: 60%;
    display: flex;
    align-self: center;
  }

  .img-container-vert {
    display: flex;
    flex-direction: row;
    align-items: center;
  }


  .case-studies-wrapper {
    padding: calc(2*var(--rhythm)) calc(12*var(--rhythm));
  }

  .case-study {
    gap: calc(5*var(--rhythm));
  }

  .video-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  section {
    display: flex;
    flex-direction: column;
    padding: calc(2*var(--rhythm)) calc(15*var(--rhythm));

    h2 {
      font-size: 1rem;
    }

    h3 {
      font-size: 2rem;
      margin-bottom: 2rem;
    }
  }

  section.resume {
    padding: calc(var(--rhythm)*2)  calc(var(--rhythm)*15);
  }
  
  section.creative {
    padding: calc(var(--rhythm)*5)  calc(var(--rhythm)*10);
  }
  
  section.bottom { /* Targets last section on page */
    padding-bottom: 0;
  }

  .top-content, .top-content-about {
    background-color: var(--background-color);
    display: flex;
    flex-direction: row-reverse;
    gap: calc(2*var(--rhythm));
    align-items: center;
    box-shadow: 0px -10px 20px #00000014 inset;
    padding: calc(2*var(--rhythm)) calc(4*var(--rhythm)) 0;
    height: 704px;
    margin-top: calc(4*var(--rhythm));

    .page-heading {
      margin-top: 0;
      margin-bottom: -4rem;

      h1 {
        font-size: 3rem;
        line-height: 3rem;
      }

      .label {
        margin-bottom: -2rem;
      }

      h3 {
        font-size: 2rem;
        margin-bottom: -1rem;
      }
    }
    
    .text-container {
      margin-bottom: -2rem;
    }
    
    
    section.overview, section.overview-about { /* Targets first section on page */
      background-color: transparent;
      box-shadow: none;
      color: var(--foreground-color);
      height: 100%;
      padding: var(--rhythm) var(--rhythm) (5*var(--rhythm));
      max-width: 50%;

      .details {
        p {
          background-color: var(--foreground-color);
          color: var(--background-color);
          padding: calc(var(--rhythm)/3);
          border-radius: 5px;
          margin-right: calc(var(--rhythm)/2);
          margin-bottom: 0;
          text-wrap: nowrap;
        }

        p.highlighted { /* For details section */
          background-color: var(--color-accent);
          color: var(--background-color);
        }
      }
      
      .text-container:last-child {
        margin-bottom: 4rem;
      }
    }
  }

  section.resume {
    background-color: var(--foreground-color);
    box-shadow: 0px -10px 20px #00000014;
    color: var(--background-color);
    padding: calc(var(--rhythm)*5) calc(15*var(--rhythm)) calc(1.5*var(--rhythm));
  }

  section.overview-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }



  .subheadings {
    flex-direction: row;
    justify-content: space-between;
  }

  .top-content-about {
    box-shadow: none;
  }
}

@media screen and (min-width: 1700px) {
  main {
    max-width: 1500px;
    margin: auto;
  }
  section, .top-content {
    box-shadow: none;
  }
}
